@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Karla";
    background-color: hsl(217, 29%, 88%);
}
main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main_card{
    width: 900px;
    height: 660px;
    display: grid;
    grid-template-columns: 450px;
    grid-template-rows: 300px 360px;
    grid-template-areas: 
    "t t"
    "l r";
    border-radius: 25px;
}
.top_card{
    grid-area: t;
    background-color: white;
    border-radius: 12px 12px 0 0;
}
.top_title, .btm_title, .top_p{
    position: relative;
    left: 7%;
}
.top_title{
    color:hsl(179, 74%, 48%);
    top: 18%;
    font-size: 35px;
}
.btm_title{
    color: hsl(71, 73%, 54%);
    top: 30%;
}
.top_p{
    color:hsl(218, 22%, 67%);
    top: 37%;
    font-size: 22px;
    width: 730px;
}
.left_card{
    grid-area: l;
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 0 12px;
}
.sub_title, .price, .left_text, .submit, button{
    position: relative;
    left: 14%;
}
.sub_title{
    top: 18%;
    color: white;
}
.price{
    display: flex;
    top: 25%;
}
.price h2{
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
}
.price p{
    color:hsl(179, 74%, 48%);
    margin-left: 1em;
    margin-top: 0.5em;
    font-size: 1.3rem;
}
.left_text{
    top: 30%;
    font-size: 1.2rem;
    color:rgb(212, 252, 255)
}
button{
    background-color: hsl(71, 73%, 54%);
    top: 40%;
    width: 325px;
    height: 63px;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 1.3rem;
    letter-spacing: 2px;    
}
.right_card{
    grid-area: r;
    background-color: hsl(179, 74%, 48%);
    border-radius: 0 0 12px 0;
}
.right_title, .right_par{
    position: relative;
    left: 14%;
    color: white;
}
.right_title{
    font-size: 1.7rem;
    top: 18%;
}
.right_par{
    width: 300px;
    top: 25.5%;
    line-height: 26px;
    font-size: 1.2rem;
    font-weight: 200;
}

@media screen and (max-width: 1300px){
    main{
        height: 1000px;
        margin-top: 8.4em;
    }
    .main_card{
        width: 500px;
        margin-bottom: 2em;
        display: grid;
        grid-template-columns: 500px;
        grid-template-rows: 400px 330px 350px;
        grid-template-areas: 
        "t"
        "l"
        "r";
    }
    .top_card{
        grid-area: t;
    }
    .top_title{
        top: 10%;
    }
    .btm_title{
        width: 400px;
        top: 18%;
        left: 7%;
    }
    .top_p{
        top: 25%;
        width: 450px;
        line-height: 42px;
    }
    .left_card{
        grid-area: l;
        border-radius: 0 0 0 0;
    }
    .sub_title, .price, .left_text, button{
        left: 7%;
    }
    .sub_title{
        top: 11%;
    }
    .price{
        top: 19%;
    }
    .left_text{
        top: 24%;
        font-size: 1.4rem;
    }
    button{
        width: 425px;
    }
    .right_card{
        grid-area: r;
        border-radius: 0 0 12px 12px;
    }
    .right_title, .right_par{
        left: 7%;
    }
    .right_title{
        top: 11%;
    }
    .right_par{
        font-size: 22px;
        font-weight: 100;
        line-height: 30px;
        top: 19%;
    }
    .white{
        height: 230px;
        margin-bottom: 230px;
    }
}
@media screen and (max-width: 600px){
    .main_card{
        width: 400px;
        margin-bottom: 2em;
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 390px 330px 350px;
    }
    .top_title{
        font-size: 1.6rem;
    }
    .btm_title{
        font-size: 1.25rem;
    }
    .top_p{
        font-size: 1.1rem;
        line-height: 2.4rem;
        width: 360px;
    }
    button{
        width: 340px;
    }
}